@model IEnumerable<ModelWebBanHang.SAN_PHAM>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section breadcrumbs{
@foreach (var item in Model)
{          
            <li>@Html.ActionLink(item.NHOM_SAN_PHAM.TEN_NHOM_SP, "GroupProduct", new { IdGroup = item.MA_NHOM_SP, NameGroup = item.NHOM_SAN_PHAM.TEN_NHOM_SP })</li>
            <li>@Html.Label(item.TEN_SP)</li>
}}


<div class="col-md-9">


    <div class="row" id="productMain">
        <div class="col-sm-6">
            <div id="mainImage">
                @foreach (var item in Model)
                    {
                <img src="~/Content/img/@item.HINH_ANH" alt="" class="img-responsive">
                      }
            </div>

            <div class="ribbon sale">
                <div class="theribbon">SALE</div>
                <div class="ribbon-background"></div>
            </div>
            <!-- /.ribbon -->

            <div class="ribbon new">
                <div class="theribbon">NEW</div>
                <div class="ribbon-background"></div>
            </div>
            <!-- /.ribbon -->

        </div>
        <div class="col-sm-6">
            <div class="box">

                <form>
                    @foreach (var item in Model)
                {
                    <div class="sizes">
                        <h3>@item.TEN_SP</h3>
                    </div>
                    <p class="price">@String.Format("{0:0,0}", item.GIA_BAN) VNĐ</p>
                    }
                    <p class="text-center">
                        <button type="submit" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                        <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to wishlist">
                            <i class="fa fa-heart-o"></i>
                        </button>
                    </p>

                </form>
            </div>
            @foreach (var item in Model)
            { 
            <div class="row" id="thumbs">
                <div class="col-xs-4">
                    <a href="~/Content/img/@item.HINH_ANH" class="thumb">
                        <img src="~/Content/img/@item.HINH_ANH" alt="" class="img-responsive">
                    </a>
                </div>
            </div>
            }
        </div>

    </div>


    <div class="box" id="details">
        <p>
        </p><h4>Thông Tin Sản Phẩm</h4>
        <p>@foreach (var item in Model)
        {
            @Html.Raw(item.CHITIET)
        }</p>
        
    </div>

    

    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="box text-uppercase">
                <h3>You may also like these products</h3>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="product">
                <div class="image" style="height: 189px;">
                    <a href="#">
                        <img src="~/Content/img/h2.jpg" alt="" class="img-responsive image1">
                    </a>
                </div>
                <div class="text">
                    <h3>Fur coat</h3>
                    <p class="price">$143</p>

                </div>
            </div>
            <!-- /.product -->
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="product">
                <div class="image" style="height: 189px;">
                    <a href="#">
                        <img src="~/Content/img/h3.jpg" alt="" class="img-responsive image1">
                    </a>
                </div>
                <div class="text">
                    <h3>Fur coat</h3>
                    <p class="price">$143</p>
                </div>
            </div>
            <!-- /.product -->
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="product">
                <div class="image" style="height: 189px;">
                    <a href="#">
                        <img src="~/Content/img/h1.jpg" alt="" class="img-responsive image1">
                    </a>
                </div>
                <div class="text">
                    <h3>Fur coat</h3>
                    <p class="price">$143</p>
                </div>
            </div>
            <!-- /.product -->
        </div>

    </div>

    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="box text-uppercase">
                <h3>Products viewed recently</h3>
            </div>
        </div>


        <div class="col-md-3 col-sm-6">
            <div class="product">
                <div class="image" style="height: 189px;">
                    <a href="#">
                        <img src="~/Content/img/h3.jpg" alt="" class="img-responsive image1">
                    </a>
                </div>
                <div class="text">
                    <h3>Fur coat</h3>
                    <p class="price">$143</p>
                </div>
            </div>
            <!-- /.product -->
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="product">
                <div class="image" style="height: 189px;">
                    <a href="#">
                        <img src="~/Content/img/h1.jpg" alt="" class="img-responsive image1">
                    </a>
                </div>
                <div class="text">
                    <h3>Fur coat</h3>
                    <p class="price">$143</p>
                </div>
            </div>
            <!-- /.product -->
        </div>


        <div class="col-md-3 col-sm-6">
            <div class="product">
                <div class="image" style="height: 189px;">
                    <a href="#">
                        <img src="~/Content/img/h2.jpg" alt="" class="img-responsive image1">
                    </a>
                </div>
                <div class="text">
                    <h3>Fur coat</h3>
                    <p class="price">$143</p>

                </div>
            </div>
            <!-- /.product -->
        </div>

    </div>

</div>
