


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Trang Quản Lý</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="~/Content/sb-admin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/sb-admin/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="~/Content/sb-admin/vendor/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Content/sb-admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- DataTables CSS -->
    <link href="~/Content/sb-admin/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="~/Content/sb-admin/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <link href="~/Content/css/datepicker.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, null)
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Manage")">Xin Chào @Html.Action("TaiKhoang", "Manage") !</a>
            </div>
            <!-- /.navbar-header -->
            
            @RenderPage("_NavBar.cshtml")    
            <!-- /.navbar-top-links -->

            @RenderPage("_Menu.cshtml")

            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">@RenderSection("tieude",true)</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->
           
</div>
    <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="~/Content/sb-admin/vendor/jquery/jquery.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="~/Content/sb-admin/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!-- Metis Menu Plugin JavaScript -->
        <script src="~/Content/sb-admin/vendor/metisMenu/metisMenu.min.js"></script>
        <!-- CKEditor JavaScript -->
        <script src="~/Content/ckeditor/ckeditor.js"></script>
        <script src="~/Content/ckeditor/styles.js"></script>
        <!-- Morris Charts JavaScript -->
        <script src="~/Content/sb-admin/vendor/raphael/raphael.min.js"></script>
        <script src="~/Content/sb-admin/vendor/morrisjs/morris.min.js"></script>
        <script src="~/Content/sb-admin/data/morris-data.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="~/Content/sb-admin/dist/js/sb-admin-2.js"></script>
        <!-- DataTables JavaScript -->
        <script src="~/Content/sb-admin/vendor/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/Content/sb-admin/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
        <script src="~/Content/sb-admin/vendor/datatables-responsive/dataTables.responsive.js"></script>
        <script src="~/Content/js/bootstrap-datepicker.js"></script>
        <!-- Page-Level Demo Scripts - Tables - Use for reference -->
        <script>
        $(document).ready(function() {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });

        var mota = CKEDITOR.replace('CHITIET', {
            customConfig:'~/Content/ckeditor/config.js'
        })
        var thongsokythuat = CKEDITOR.replace('THONG_SO_KY_THUAT', {
            customConfig: '~/Content/ckeditor/config.js'
        })

        $(function () {
            $('.datepicker').datepicker({ format: "dd//mm/yyyy" }).on('changeDate', function (ev) {
                $(this).datepicker('hide');
            });
        });
        </script>
</body>
</html>