@model ModelWebBanHang.THANH_VIEN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section tieude{Xóa Thành Viên}

<h3>Có Chắc Bạn Muốn Xóa?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MAT_KHAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAT_KHAU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEN_TV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_TV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIOI_TINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIOI_TINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAY_SINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAY_SINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIA_CHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIA_CHI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIEN_HE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIEN_HE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
