@model ModelWebBanHang.NHAN_VIEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section tieude{Chi Tiết Nhân Viên}

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MA_NV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MA_NV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEN_NV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_NV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHUC_VU)
        </dt>

        <dd>
            @(Model.CHUC_VU==1?"Quản Trị Viên":"Nhân Viên")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIEN_HE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIEN_HE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MA_NV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
