@model ModelWebBanHang.SAN_PHAM
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section breadcrumbs{
        <li>@Html.ActionLink(Model.NHOM_SAN_PHAM.TEN_NHOM_SP, "GroupProduct","Home",new { IdGroup = Model.MA_NHOM_SP, NameGroup = Model.NHOM_SAN_PHAM.TEN_NHOM_SP },new { })</li>
            <li>@Model.TEN_SP</li>
    }

@Html.Action("MenuPartial", "Home")

<div class="col-md-9">


    <div class="row" id="productMain">
        <div class="col-sm-6">
            <div id="mainImage">
                
                    <img src="~/Content/img/@Model.HINH_ANH" alt="" class="img-responsive">
                
            </div>

            <div class="ribbon sale">
                <div class="theribbon">SALE</div>
                <div class="ribbon-background"></div>
            </div>
            <!-- /.ribbon -->

            <div class="ribbon new">
                <div class="theribbon">NEW</div>
                <div class="ribbon-background"></div>
            </div>
            <!-- /.ribbon -->

        </div>
        <div class="col-sm-6">
            <div class="box">

                @using (Html.BeginForm("AddBasket", "Basket", FormMethod.Post))
                {
                    
                        <div class="sizes">
                            <h3>@Model.TEN_SP</h3><input type="hidden" value="@Model.MA_SP" name="Id" />
                           
                        </div>
                        
                        <p class="price">@String.Format("{0:0,0}", Model.GIA_BAN) VNĐ</p>

                    <p class="text-center">
                        
                            <input type="number" value="1" name="Quantity" class="form-control" style="width:60px;display:inline" />
                            <button type="submit" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                            <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                         
                    </p>

                } 
            </div>
            
                <div class="row" id="thumbs">
                    <div class="col-xs-4">
                        <a href="~/Content/img/@Model.HINH_ANH" class="thumb">
                            <img src="~/Content/img/@Model.HINH_ANH" alt="" class="img-responsive">
                        </a>
                    </div>
                </div>
            
        </div>

    </div>


    <div @*class="box"*@ id="details">
        <div class="tabs">
            <ul class="nav nav-pills nav-justified">
                <li class="active">
                    <a href="#tab2-1" data-toggle="tab">Thông Tin Sản Phẩm</a>
                </li>
                <li class="">
                    <a href="#tab2-2" data-toggle="tab">Thông Số Kỹ Thuật</a>
                </li>
            </ul>
            <div class="tab-content tab-content-inverse">
                <div class="tab-pane active" id="tab2-1">
                    <p>
                        
                            @Html.Raw(Model.CHITIET)
                        
                    </p>
                </div>
                <!-- /.tab -->
                <div class="tab-pane" id="tab2-2">
                    <p>
                        
                            @Html.Raw(Model.THONG_SO_KY_THUAT)
                        
                    </p>
                </div>
                <!-- /.tab -->
            </div>
        </div>
    </div>


    <br />
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="box text-uppercase">
                <h3>Products viewed recently</h3>
            </div>
        </div>



        <div class="col-md-3 col-sm-6">
            <div class="product">
                <div class="image" style="height: 189px;">
                    <a href="#">
                        <img src="~/Content/img/h2.jpg" alt="" class="img-responsive image1">
                    </a>
                </div>
                <div class="text">
                    <h3>Fur coat</h3>
                    <p class="price">$143</p>

                </div>
            </div>
            <!-- /.product -->
        </div>

    </div>

</div>
