@model ModelWebBanHang.KHACH_HANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KHACH_HANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TEN_KH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_KH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIOI_TINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIOI_TINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAY_SINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAY_SINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIA_CHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIA_CHI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIEN_HE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIEN_HE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THANH_VIEN.MAT_KHAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THANH_VIEN.MAT_KHAU)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MA_KH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
