@model IEnumerable<ModelWebBanHang.HOA_DON>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section tieude{Danh Sách Đơn Hàng}


<p>
    @Html.ActionLink("Thêm Mới", "Create", new { }, htmlAttributes: new { @class = "btn  btn-success" })
</p>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh Sách Sản Phẩm
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.NGAY_LAP)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TINH_GIAO_HANG)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DIA_CHI_GIAO_HANG)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GHI_CHU)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PHI_GIAO_HANG)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.THANH_TIEN)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TRANG_THAI)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.KHACH_HANG.MA_TV)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NHAN_VIEN.MA_NV)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NGAY_LAP)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TINH_GIAO_HANG)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DIA_CHI_GIAO_HANG)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GHI_CHU)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PHI_GIAO_HANG)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.THANH_TIEN)
                                </td>
                                @{
                                    switch (item.TRANG_THAI)
                                    {
                                        case 0:
                                            <text>
                                <td>
                                    <span class="label label-warning">Đang Chờ</span>
                                </td>
                                            </text>
                                            break;
                                        case 1:
                                            <text>
                                <td>
                                    <span class="label label-info">Đã Duyệt</span>
                                </td>
                                            </text>
                                            break;
                                        case 2:
                                            <text>
                                <td>
                                    <span class="label label-success">Đã Hoàn Thành</span>
                                </td>
                                            </text>
                                            break;
                                        case 3:
                                            <text>
                                <td>
                                    <span class="label label-danger">Đã Hủy</span>
                                </td>
                                            </text>
                                            break;
                                        default:

                                            break;
                                    }

                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.KHACH_HANG.MA_TV)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NHAN_VIEN.MA_NV)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.MA_HD }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.MA_HD }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.MA_HD })
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->